.app-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

#switch,
#select {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  border: 1px solid #c2c2c2;
  padding: 20px;
  background: #fff;
  width: fit-content;
  min-width: 300px;
  filter: drop-shadow(5px 5px 5px #c2c2c250);
}
